doctype html
meta(http-equiv='content-type' content='text/html;charset=UTF-8')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='msvalidate.01' content='F9813ABBE497432504403FF6467D0440')
  title Childcare App &amp; Software for Preschools - Kinder
  meta(name='description' content='Childcare app & management software for your preschool or daycare center. Run your center, meet licensing requirements, and engage with families.')
  script(src='cdn-cgi/apps/head/AEC84VoXwMGjpnYL-NtEpmKOevI.js')
  link(rel='canonical' href='index.html')
  meta(property='og:locale' content='en_US')
  meta(property='og:type' content='website')
  meta(property='og:title' content='Childcare App & Software for Preschools - Kinder,Nepal')
  meta(property='og:description' content='Childcare app & management software for your preschool or daycare center. Run your center, meet licensing requirements, and engage with families. Kinder, Nepal')
  meta(property='og:url' content='https://kinder.com/')
  meta(property='og:site_name' content='Kinder,Nepal')
  meta(name='twitter:card' content='summary')
  meta(name='twitter:description' content='Childcare app & management software for your preschool or daycare center. Run your center, meet licensing requirements, and engage with families.Kinder,Nepal')
  meta(name='twitter:title' content='Childcare App & Software for Preschools - Kinder, Nepal')
  script(type='application/ld+json').
    {"@context":"https://schema.org","@type":"WebSite","@id":"https://kinder.com/#website","url":"https://kinder.com/","name":"Kinder","potentialAction":{"@type":"SearchAction","target":"kinder.com/?s={search_term_string}","query-input":"required name=search_term_string"}}
  script(type='application/ld+json').
    {"@context":"https://schema.org","@type":"Organization","url":"https://kinder.com/","sameAs":[],"@id":"https://kinder.com/#organization","name":"kinder","logo":wp-content/themes/_brightwheel/library/img/kinder.svg"}
  link(rel='dns-prefetch' href='http://s.w.org/')
  link#wp-block-library-css(rel='stylesheet' href='wp-includes/css/dist/block-library/style.mince52.css?ver=5.0.2' type='text/css' media='all')
  link#bodhi-svgs-attachment-css(rel='stylesheet' href='wp-content/plugins/svg-support/css/svgs-attachmentce52.css?ver=5.0.2' type='text/css' media='all')
  link#main-css(rel='stylesheet' href='wp-content/themes/_brightwheel/library/styles/css/main.341cb8fde24d3503f9b0ea72a1cf4ead.css' type='text/css' media='all')
  link(rel='https://api.w.org/' href='wp-json/index.html')
  link(rel='EditURI' type='application/rsd+xml' title='RSD' href='xmlrpc0db0.php?rsd')
  link(rel='wlwmanifest' type='application/wlwmanifest+xml' href='wp-includes/wlwmanifest.xml')
  link(rel='shortlink' href='index.html')
  link(rel='alternate' type='application/json+oembed' href='wp-json/oembed/1.0/embed321c.json?url=https%3A%2F%2Fmybrightwheel.com%2F')
  link(rel='alternate' type='text/xml+oembed' href='wp-json/oembed/1.0/embedaf77?url=https%3A%2F%2Fmybrightwheel.com%2F&format=xml')
  link(rel='apple-touch-icon' sizes='120x120' href='wp-content/uploads/fbrfg/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='wp-content/uploads/fbrfg/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='wp-content/uploads/fbrfg/favicon-16x16.png')
  link(rel='manifest' href='wp-content/uploads/fbrfg/site.html')
  link(rel='mask-icon' href='wp-content/uploads/fbrfg/safari-pinned-tab.svg' color='#5bbad5')
  link(rel='shortcut icon' href='wp-content/uploads/fbrfg/favicon.ico')
  meta(name='msapplication-TileColor' content='#da532c')
  meta(name='msapplication-config' content='/wp-content/uploads/fbrfg/browserconfig.xml')
  meta(name='theme-color' content='#ffffff')
  script(type='8f7db4345f6eab29a42e2c16-text/javascript').
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MFS6NDG');
script.
noscript
  iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-MFS6NDG' height='0' width='0' style='display:none;visibility:hidden')
a.sr-only.sr-only-focusable(href='#content') Skip to main content
.header__anchor
header.header.js-header(role='banner')
  .wrapper
    .header__content
      a.logo(href='/')
        
        img(style='width:60px;' src='wp-content/themes/_brightwheel/library/img/kinder.svg' alt='logo')
        if success
          h1(style='color:white;font-size:30px;font-weight:bold;') Your Request was submitted  Successfully
      a.logo.logo__alt(href='index.html')
        img(src='wp-content/themes/_brightwheel/library/img/logo-alt.svg' alt='logo')
      nav.nav--main.nav--buttons__default(role='navigation')
        ul
          li#menu-item-435.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-435
            a(href='') Solutions
            ul.sub-menu
              li#menu-item-436.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-436
                a(href='solutions/schools/index.html') Schools &amp; Childcare
              li#menu-item-437.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-437
                a(href='solutions/parents/index.html') Parents
          li#menu-item-356.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-356
            a(href='about/index.html') About
          li#menu-item-363.button.button--primary.nav-signup.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-363
            a(href='/signup') Sign up
          li#menu-item-362.button.button--secondary.button--secondary--outline.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-362
            a(href='/login') Log in
      button.hamburger.hamburger--spring-r.js-hamburger(type='button' aria-expanded='false' aria-label='Toggle navigation' aria-controls='navbarMobile')
        span.hamburger-box
          span.hamburger-inner
      nav#navbarMobile.nav--mobile.js-mobile-nav(role='navigation')
        .nav--mobile__inner
          ul.accordion--group.nav--mobile__list
            li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-435
              span.nav--item__mobile.wrapper
                a(href='') Solutions
                i.accordion--trigger
              ul.sub-menu
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-436
                  span.nav--item__mobile.wrapper
                    a(href='solutions/schools/index.html') Schools &amp; Childcare
                    i.accordion--trigger
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-437
                  span.nav--item__mobile.wrapper
                    a(href='solutions/parents/index.html') Parents
                    i.accordion--trigger
            li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-659
              span.nav--item__mobile.wrapper
                a(href='') Resources
                i.accordion--trigger
              ul.sub-menu
                li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-660
                  span.nav--item__mobile.wrapper
                    a(href='') Help Center
                    i.accordion--trigger
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-434
                  span.nav--item__mobile.wrapper
                    a(href='') School Resources
                    i.accordion--trigger
                li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-439
                  span.nav--item__mobile.wrapper
                    a(href='') Blog
                    i.accordion--trigger
            li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-356
              span.nav--item__mobile.wrapper
                a(href='about/index.html') About
                i.accordion--trigger
            li.button.button--primary.nav-signup.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-363
              span.nav--item__mobile.wrapper
                a(href='') Sign up
                i.accordion--trigger
            li.button.button--secondary.button--secondary--outline.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-362
              span.nav--item__mobile.wrapper
                a(href='') Log in
                i.accordion--trigger
main#content.main(role='main')
  article#post-107.post-107.page.type-page.status-publish.hentry(role='article')
    .entry-content
      section#bb-.building-block.bb-hero.w-bg-img.bb-overlay(style='background-size: cover; background-position: center;' data-bg='wp-content/uploads/2018/07/DKP_9881-e1531533090150-1563x1100-1-1563x1100.jpg')
        .building-block.bb-hero.w-bg-img.loadingImage(style='background-size: cover; background-position: center; background-image: url(wp-content/uploads/2018/07/DKP_9881-e1531533090150-1563x1100-1-160x110.jpg);')
        .body-block
          .hero--inner.wrapper.left.max-50(style='color: #5463d6;')
            h1.hero--title #1 platform for early education
            .button__group.button-mobile__group
              a#home-apple-dl.button.button--primary(data-button-type='linklead' href='' role='button') Download for iPhone &amp; iPad
              a#home-android-dl.button.button--secondary.button--secondary--outline(data-button-type='linklead' href='' role='button') Download for Android
            .button__group
              a#home-signup.button.button--secondary(data-button-type='linklead' href='/signup' role='button') Sign up for free
      section#bb-.building-block.bb-basic_text.bb--margin-top-extra.bb--margin-bottom-default.lazyload
        .body-block
          .basic-text.wrapper.wrapper--md
            .basic-text__header.u-text-center
              h2 The childcare management software solution you need
              .u-hide.separator
            .internal__editor.basic-text__main.u-text--default
              p(style='text-align: center;')
                | Manage classrooms, observe students, collect tuition, and stay in touch with families &ndash; all from one easy-to-use childcare app.
            .button__group
              a#bt-107.modal__trigger.button.button--transparent.button--primary(data-modal='#modal-bt-107' role='button' href='#')
                img.button--icon.lazyload(data-src='wp-content/uploads/2018/07/play-o-2.svg')
                span Watch the video
      section#bb-.building-block.bb-multicolumn_grid.bb--margin-top-default.bb--margin-bottom-default.angled-edge--top.angled-edge--bottom(style='background: #f1f1f1; ')
        .body-block
          .multicolumn-grid.wrapper.wrapper.wrapper--default
            .grid
              .grid__column.grid__column--icon-text.u-size-1of3--md
                .grid__item.grid__item--icon-text.grid__item--purple.u-text-center
                  a(role='button' title='Learn more')
                    img.lazyload(data-src='https://mybrightwheel.com/wp-content/uploads/2018/07/savetime.svg' alt='')
                  div
                    h3 Save time
                    p More time for what matters. Saves up to 1 hour per day per staff member.
              .grid__column.grid__column--icon-text.u-size-1of3--md
                .grid__item.grid__item--icon-text.grid__item--purple.u-text-center
                  a(role='button' title='Learn more')
                    img.lazyload(data-src='https://mybrightwheel.com/wp-content/uploads/2018/07/SaveMoney-1.svg' alt='')
                  div
                    h3 Save money
                    p No installation or setup fees. No more paper to buy. Works on any device.
              .grid__column.grid__column--icon-text.u-size-1of3--md
                .grid__item.grid__item--icon-text.grid__item--purple.u-text-center
                  a(role='button' title='Learn more')
                    img.lazyload(data-src='https://mybrightwheel.com/wp-content/uploads/2018/07/growth.svg' alt='')
                  div
                    h3 Grow your business
                    p Differentiate your center. Increase enrollment and parent satisfaction.
      section#bb-.building-block.bb-split_content.bb--margin-top-default.bb--margin-bottom-extra(style='background: #fff; ')
        .body-block
          .wrapper.wrapper--lg
            .split-row.split-row--content-left.grid
              .grid__column.u-size-1of2--md.split-row__content
                .split-row__content--row.split-row__content--text
                  h3 Manage your classroom
                  p
                    | Streamline your day. Manage attendance, reduce paperwork, and capture learning milestones.
                .split-row__content--row.split-row__content--text
                  h3 Run your center
                  p
                    | Meet licensing requirements, automate invoicing and bill pay, manage staff, and track enrollment.
                .split-row__content--row.split-row__content--text
                  h3 Engage with families
                  p
                    | Easily keep parents and guardians up to date with photos, videos, messaging, and more.
              .grid__column.u-size-1of2--md.split-row__media.split-row__media--landscape
                .js-carousel--single
                  div
                    img.lazyload(data-src='wp-content/themes/_brightwheel/library/img/login.png' alt='')
      section#bb-.building-block.bb-multicolumn_grid.bb--margin-top-default.bb--margin-bottom-default.angled-edge--top.angled-edge--bottom(style='background: #f1f1f1; ')
        .body-block
          .multicolumn-grid.wrapper.wrapper.wrapper--default
            h2.multicolumn-grid__title--large The Kinder impact is measurable
            .separator
            .grid
              .grid__column.grid__column--title-text.u-size-1of3--md
                .grid__item.grid__item--title-text.grid__item--Array.u-text-center
                  div
                    p.grid__item__top.grid__item__top--teal
                      em 85% of users 
                    p would recommend Kinder to a director, teacher, or parent.
              .grid__column.grid__column--title-text.u-size-1of3--md
                .grid__item.grid__item--title-text.grid__item--Array.u-text-center
                  div
                    p.grid__item__top.grid__item__top--pink
                      em 100% of parents 
                    p are more satisfied with their school experience once kinder is implemented.
              .grid__column.grid__column--title-text.u-size-1of3--md
                .grid__item.grid__item--title-text.grid__item--Array.u-text-center
                  div
                    p.grid__item__top.grid__item__top--orange
                      em 10s of millions
                    p of classroom moments documented and shared per week.
      //
        <section class="building-block bb-slider bb--margin-top-default bb--margin-bottom-extra" id="bb-" style="background: #fff; ">
        <div class="body-block">
        <div class="wrapper wrapper--default">
        <div class="carousel js-carousel--triple">
        <div class="carousel__slide">
        <div class="carousel__slide--img lazyload">
        <div class="carousel__slide--img--inner lazyload" data-bg="wp-content/uploads/2018/07/DKP_9796-1-e1531528487672-789x1024.jpg"></div>
        </div>
        <p>&#8220;<strong>I LOVE brightwheel!</strong> It saves me approximately 6 hours per week and then another 10-12 hours each time I do parent invoices.&#8221;</p>
        <p class="carousel__slide--citation">Julie, Preschool Owner</p>
        </div>
        <div class="carousel__slide">
        <div class="carousel__slide--img lazyload">
        <div class="carousel__slide--img--inner lazyload" data-bg="wp-content/uploads/2018/07/DKP_9813-1024x684.jpg"></div>
        </div>
        <p>&#8220;<strong>It has been a gift to our center.</strong> Our communication has greatly improved since connecting with everyone through brightwheel.&#8221;</p>
        <p class="carousel__slide--citation">Bethany, Center Director</p>
        </div>
        <div class="carousel__slide">
        <div class="carousel__slide--img lazyload">
        <div class="carousel__slide--img--inner lazyload" data-bg="wp-content/uploads/2018/07/DKP_0210-1024x684.jpg"></div>
        </div>
        <p>&#8220;Brightwheel has made <strong>life easier and more streamlined.</strong> My ink and paper bills went down, my time to focus on the children went up!&#8221;</p>
        <p class="carousel__slide--citation">Jessica, Childcare Owner</p>
        </div>
        </div>
        </div>
        </div>
        </section>
      section#cta.building-block.bb-cta.bb--margin-top-default.bb--margin-bottom-default.lazyload(data-bg='wp-content/themes/_brightwheel/library/img/cta-geo-bg.svg')
        .body-block
          .cta--inner.wrapper.center.max-100
            .cta--inner__content
              h2.cta--title(style='color: ') Join thousands of schools
              .cta--body(style='color: ')
                p
                  | Sign up for a free account to experience the most powerful solution in early education.
              .button__group.cta--button__group
                a#home-cta-signup.button.button--secondary(href='/signup' role='button') Sign up
footer.footer(role='contentinfo')
  .wrapper
    .footer__main
      .footer__nav
        ul
          li#menu-item-678.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-678
            a Our Solutions
            ul.sub-menu
              li#menu-item-380.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-380
                a(href='#') Schools &amp; Childcare
              li#menu-item-381.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-381
                a(href='#') Parents
              li#menu-item-383.footer__button--contact.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-383
                a Contact Us
          li#menu-item-384.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-384
            a Contact Us
            ul.sub-menu
              li#menu-item-785.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-785
                a 9844714507
              li#menu-item-386.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-386
                a a.u.aua937@gmail.com
          li#menu-item-395.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-395
            a Company
            ul.sub-menu
              li#menu-item-396.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-396
                a(href='index.html') About Us
              li#menu-item-399.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-399
                a(href='') Terms of Service
              li#menu-item-398.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-398
                a(href='') Privacy Policy
        a.u-hide--md-up.contact-link(href='contact/index.html') Contact Us
      .footer__social
        .footer__social--top
          a(href='#' rel='noopener noreferrer')
            img.lazyload(data-src='https://mybrightwheel.com/wp-content/uploads/2018/06/facebook.svg' alt='')
          a(href='#"' rel='noopener noreferrer')
            img.lazyload(data-src='https://mybrightwheel.com/wp-content/uploads/2018/06/twitter.svg' alt='')
          a(href='#' target='_blank' rel='noopener noreferrer')
            img.lazyload(data-src='https://mybrightwheel.com/wp-content/uploads/2018/06/linkedin.svg' alt='')
          a(href='#' rel='noopener noreferrer')
            img.lazyload(data-src='https://mybrightwheel.com/wp-content/uploads/2018/06/instagram.svg' alt='')
          a(href='#' rel='noopener noreferrer')
            img.lazyload(data-src='https://mybrightwheel.com/wp-content/uploads/2018/07/youtube-logotype-1.svg' alt='')
        .footer__social--middle
          a(href='' rel='noopener noreferrer')
            img.lazyload(data-src='https://mybrightwheel.com/wp-content/uploads/2018/06/appstore.svg' alt='')
          a(href='' rel='noopener noreferrer')
            img.lazyload(data-src='https://mybrightwheel.com/wp-content/uploads/2018/06/googleplay.svg' alt='')
    .footer__bottom
      p 2019 &copy; Copyright Kinder
#modal-bt-107.modal.modal__bg.modal__video
  .modal__main
    .modal__head
    .modal__content
      iframe.lazyload(allowfullscreen='' allow='autoplay' type='text/html' data-src='https://www.youtube.com/embed/4F9mUngBY6c' frameborder='0')
script(type='8f7db4345f6eab29a42e2c16-text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(type='8f7db4345f6eab29a42e2c16-text/javascript' async='async' src='http://cdn.polyfill.io/v2/polyfill.min.js')
script(type='8f7db4345f6eab29a42e2c16-text/javascript' async='async' src='http://www.google-analytics.com/analytics.js')
script(type='8f7db4345f6eab29a42e2c16-text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/jquery-fracs/0.15.1/jquery.fracs.min.js')
script(type='8f7db4345f6eab29a42e2c16-text/javascript' src='wp-content/themes/_brightwheel/library/js/min/global.e5dfc0cf1e3c06dada88.js')
script(src='https://ajax.cloudflare.com/cdn-cgi/scripts/2448a7bd/cloudflare-static/rocket-loader.min.js' data-cf-nonce='8f7db4345f6eab29a42e2c16-' defer='')
// Mirrored from mybrightwheel.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 06 Jan 2019 13:48:07 GMT
